{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>So Close, So Far</title>
    <link rel="stylesheet" href="{% static 'thanks/css/style.css' %}">
</head>
<body>
    <div id="clickText">Nhấn vào đây</div>
    <div id="message"></div>
    <audio loop id="audio" src="{% static 'thanks/audio/lc2.mp3' %}"></audio>
    
    <script>
        const lines = [
            "<span>Moonlight painted a sliver outline around her face.</span>",
            "<span>I can hear my heartbeat while I look at her.</span>",
            "<span>I awkwardly came and said: \"Hey, could I be your friend?\"</span>",
            "<span class='highlight_male'>\"Hey, do you know there are three stars lied on the same line?\"</span>",
            "<span class='highlight'>...</span>",
            "<span class='highlight_male'>\"I like this music...\"</span>",
            "<span class='highlight'>...</span>",
            "<span class='highlight_female'>\"I love watching T1 playing League of Legend...\"</span>",
            "<span class='highlight'>...</span>",
            "<span class='highlight_female'>\"Hmm, kid, call me sister, now!...A kid born after me six months is rude....\"</span>",
            "<span class='highlight_male'>\"Never, haha...\"</span>",
            "<span class='highlight'>...</span>",
            "<span class='highlight_female'>\"Kid should get sleep early hehe!!!...\"</span>",
            "<span class='highlight'>...</span>",
            "<span class='highlight_female'>\"Idiot, you're idiot!!!\"</span>",
            "<span class='highlight'>...</span>",
            "<span class='highlight_male'>\"After graduation, would you go back to Vietnam?...\"</span>",
            "<span class='highlight_male'>\"Could I see you in real life?...\"</span>",
            "<span class='highlight'>...</span>",
            "<span class='highlight'>......</span>",
            "<span class='highlight'>Our story began like that.</span>",
            "<span class='highlight'>We are becoming closer and closer. We don’t even need to speak, there is already a tacit understanding between us.</span>",
            "<span class='highlight'>I don’t think there’s anything more to be said.</span>",
            "<span class='highlight'>Words will just ruin the mood.</span>",
        ];
        
        document.getElementById("clickText").addEventListener("click", function() {
            let audio = document.getElementById("audio");
            audio.play();
            document.getElementById("clickText").style.display = "none";
            
            let message = document.getElementById("message");
            let index = 0;
            
            function showLine() {
                if (index < lines.length) {
                    message.style.opacity = "0";
                    setTimeout(() => {
                        message.innerHTML = lines[index];
                        message.style.opacity = "1";
                        index++;
                        setTimeout(showLine, 5000);
                    }, 2000);
                }
            }
            
            showLine();
        });
    </script>
</body>
</html>